.stop {
  position: absolute;
  top: 70%;
  left: 48.55%;
  background-color: rgba(170, 170, 170);
}

.play{
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent transparent transparent rgb(211, 227, 223);
  position: absolute;
  top: 70%;
  left: 49.55%;
}

#clear{
  position: absolute;
  font-family: 'Lekton';
  color: rgb(211, 227, 223);
  right: 3.5%;
  top: 13%;
}