:root {
  --sliderButtonDiameter: 8px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

html {
  background-color: rgb(211, 227, 223);
  height: 100%;
  overflow: hidden;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Lekton', monospace;
}

svg text {
  font-family: 'Lekton', monospace;
}

select {
  font-family: 'Lekton';
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
}

input[type='range'] {
  -webkit-appearance: none;
  margin: 3.5px 0;
  background-color: transparent;
}

input[type='range']:focus {
  outline: none;
}

input[type='range']:focus-visible {
  outline: 2px solid white;
  outline-offset: 4px;
  border-radius: 2px;
}

input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  border-radius: 1.3px;
  border: 0px solid #010101;
  background: var(--pizza-color, transparent);
  opacity: 0.5;
}

input[type='range']::-webkit-slider-thumb {
  background: var(--pizza-color, #aaa);
  height: var(--sliderButtonDiameter);
  width: var(--sliderButtonDiameter);
  border-radius: 50%;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.5px;
}
